node_modules
# maths-club-pack assets automatically copied from top-level folder to assets
maths-club-app/src/assets/maths-club-pack
maths-club-pack/translations/*/
maths-club-pack/cover_images/jpgs
translations/*/metadata.json
translations/ach/
**/package-lock.json
pdfs
# ignore keystore and converted keystore text file
**/*.jks**
.gradle
.firebase

# IOS and Android files
maths-club-app/android/app/google-services.json
maths-club-app/android/app/debug
maths-club-app/ios/App/*.zip
maths-club-app/ios/App/*.ipa
maths-club-app/ios/App/*.mobileprovision
maths-club-app/ios/App/fastlane/report.xml
maths-club-app/ci/play-store-service-account.json
maths-club-app/ci/fastlane/metadata
.idea

maths-club-app/src/environments/firebaseConfig.json
.vscode/settings.json
maths-club-app/firebase-debug.log
maths-club-app/ios/App/App/GoogleService-Info.plist
