.problems-list-container {
  display: flex;
}

.problem-card {
  width: 150px;
  height: 200px;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.problem-card > image {
  width: 150px;
  height: 150px;
}
