$min-item-width: 150px;
$max-item-height: 250px;

.problems-list-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min-item-width, 1fr));
  grid-template-rows: repeat(4, $max-item-height);
  column-gap: 10px;
  row-gap: 15px;
}

.problem-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.problem-image {
  width: 100%;
}
.problem-title {
  margin: 0;
}
.featured-problem {
  position: absolute;
  top: 8px;
  width: calc(100% - 2px);
  left: 0px;
  padding: 1px;
  background: #ffa41d;
  color: white;
}
