.markdown-container {
  padding: 1em;
  max-width: 900px;
  margin: auto;
}
.facilitator-notes-container {
  margin-top: 2em;
  border-top: 4px solid #dedede;
  padding: 2em 0;
}
.facilitator-notes-button {
  width: 100%;
  max-width: 360px;
  padding: 8px;
  min-height: 64px;

  & > mat-icon.facilitator-notes-icon {
    width: 32px;
    height: 32px;
    font-size: 32px;
  }
  & .facilitator-notes-label {
    font-size: large;
    margin: 0 8px;
  }
}
