<div
  class="markdown-container"
  *ngIf="problemService.activeProblem$ | async as problem"
  [@fadeOnLoad]="problemService.activeProblem$ | async"
>
  <markdown
    id="markdownStyle"
    [data]="problem.studentVersionText"
    katex
  ></markdown>
  <div
    class="facilitator-notes-container"
    *ngIf="problem.hasFacilitatorVersion"
  >
    <p style="flex: 1; margin-right: 5px;">
      Want to check your solution or help others with the problem?
    </p>
    <button mat-stroked-button [routerLink]="['notes']">
      See Facilitator Notes
    </button>
  </div>
</div>
