.problem-container {
  padding: 1em;
  max-width: 900px;
  margin: auto;
}
.facilitator-notes-container {
  margin-top: 2em;
  border-top: 4px solid #dedede;
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
