<div
  class="markdown-container"
  *ngIf="problemService.activeProblem$ | async as problem"
>
  <div [@fadeInOut]="markdownReady ? 'in' : 'out'">
    <markdown
      id="markdownStyle"
      [data]="problem.studentVersionText"
      katex
      (ready)="onMarkdownReady()"
    ></markdown>
    <div class="facilitator-notes-container">
      <p style="flex: 1; margin-right: 5px;">
        Want to check your solution or help others with the problem?
      </p>
      <button mat-stroked-button [routerLink]="['notes']">
        See Facilitator Notes
      </button>
    </div>
  </div>
</div>
