:host {
  display: contents;
}
mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  --mat-sidenav-container-width: 240px;
  --mat-list-list-item-leading-icon-start-space: 8px;
  --mat-list-list-item-leading-icon-end-space: 8px;
  --mdc-list-list-item-leading-icon-color: black;
  --mdc-list-list-item-label-text-line-height: 16px;
  a {
    text-decoration: none;
  }
}
mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.bottom-items {
  position: absolute;
  bottom: 0;
  padding-bottom: var(--safe-area-inset-bottom);
}
.nav-title {
  flex: 1;
  text-align: center;
  margin-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#version {
  padding: 5px 16px;
  opacity: 0.5;
  text-align: left;
}
// IOS Style Safe Areas - viewport-fit=cover fills notch space, so add padding as required
// Vars set by https://github.com/capacitor-community/safe-area?tab=readme-ov-file#examples
// Default capacitor sets env (which aren't detected correctly on some android devices)
.safe-padding-top {
  padding-top: var(--safe-area-inset-top) !important;
}
.safe-padding-bottom {
  padding-bottom: var(--safe-area-inset-bottom) !important;
}
.safe-padding-side {
  padding-left: var(--safe-area-inset-left) !important ;
  padding-right: var(--safe-area-inset-right) !important;
}
