@import "~material-design-icons/iconfont/material-icons.css";

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 200px;
}

mat-sidenav-content {
  overflow-x: hidden;
}
.bottom-items {
  position: absolute;
  bottom: 0;
}

#version {
  padding: 5px 16px;
  opacity: 0.5;
  text-align: left;
}
