@import "~material-design-icons/iconfont/material-icons.css";

:host {
  display: contents;
}
mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 200px;
}
mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

mat-sidenav-content {
  display: contents;
}
.bottom-items {
  position: absolute;
  bottom: 0;
}
.nav-title {
  flex: 1;
  text-align: center;
  margin-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#version {
  padding: 5px 16px;
  opacity: 0.5;
  text-align: left;
}
// IOS Style Safe Areas - viewport-fit=cover fills notch space, so add padding as required
.safe-padding-top {
  padding-top: env(safe-area-inset-top) !important;
}
.safe-padding-side {
  padding-left: env(safe-area-inset-left) !important ;
  padding-right: env(safe-area-inset-right) !important;
}
