/* You can add global styles to this file, and also import other style files */
@import "./theme/my-theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
table,
th,
td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}
#markdownStyle {
  img {
    max-width: 500px;
  }
  @media only screen and (max-width: 500px) {
    img {
      max-width: 100%;
    }
  }
}
