/* You can add global styles to this file, and also import other style files */
@import "./theme/my-theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
table,
th,
td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}
